<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
-->
<mapper namespace="com.trade.tradeOrder.ITradeOrderOperation">
     <!-- 
         根据order_id查询得到一个tradeOrder对象
     -->
     <select id="getTradeOrderByOrderID" parameterType="int" resultType="com.trade.tradeOrder.TradeOrder">
         select * from tradeorder where Order_id=#{Order_id}
     </select>
     <!-- 
         根据buyer_id模糊查询得到一个trade order对象
     -->
     <select id="getTradeOrderByBuyerID" parameterType="int" resultType="com.trade.tradeOrder.TradeOrder">
         select * from tradeorder where buyer_id like #{buyer_id} and flow_status= 0  
     </select>
     <!-- 
         新增一个trade order对象
     -->
     <insert id="addTradeOrder" parameterType="com.trade.tradeOrder.TradeOrder" useGeneratedKeys="true" keyProperty="id">
         insert into tradeorder(order_id,buyer_id,seller_id,flow_satus,pay_status,logistic_status,
         	order_total_qty,order_total_money,order_total_paid_money,order_refund_id,gmt_create,gmt_modified)
         values(#{order_id},#{buyer_id},#{seller_id},#{flow_satus},#{pay_status},#{logistic_status},
         	#{order_total_qty},#{order_total_money},#{order_total_paid_money},#{order_refund_id},#{gmt_create},#{gmt_modified})
     </insert>
     <!-- 
         delete一个trade order对象
     -->
     <update id="deleteTradeOrder" parameterType="com.trade.tradeOrder.TradeOrder">
         update tradeorder set flow_status=1 where order_id=#{order_id}
     </update>
 </mapper>