<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
-->
<mapper namespace="com.trade.offer.IOfferOperation">
     <!-- 
         根据id查询得到一个user对象
     -->
     <select id="getOfferById" parameterType="int" resultType="com.trade.offer.Offer">
         select * from offer where offer_id=#{offer_id}
     </select>
     <!-- 
         根据标题模糊查询得到一个offer对象
     -->
     <select id="getOfferByName" parameterType="string" resultType="com.trade.offer.Offer">
         select * from offer where offer_name like #{offer_name} and offer_status=0
     </select>
     <!-- 
         新增一个offer对象
     -->
     <insert id="addOffer" parameterType="com.trade.offer.Offer" useGeneratedKeys="true" keyProperty="id">
         insert into offer(offer_id,sku_id,offer_name,offer_detail,offer_seller_id,offer_org_price,
         	offer_pro_price,offer_qty,offer_tag,offer_attributes,gmt_create,gmt_modified,offer_status)
         values(#{offer_id},#{sku_id},#{offer_name},#{offer_detail},#{offer_seller_id},#{offer_org_price},
         	#{offer_pro_price},#{offer_qty},#{offer_tag},#{offer_attribute},#{gmt_create},#{gmt_modified},#{offer_status})
     </insert>
     <!-- 
         下架一个offer对象
     -->
     <update id="delOffer" parameterType="com.trade.offer.Offer">
         update offer set offer_status=1 where offer_id=#{offer_id}
     </update>
 </mapper>