<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>trade</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test2</display-name>
    <servlet-name>Test2</servlet-name>
    <servlet-class>com.tm.Test2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LiveRoomManager</display-name>
    <servlet-name>LiveRoomManager</servlet-name>
    <servlet-class>com.trade.app.servlet.LiveRoomManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiveRoomManager</servlet-name>
    <url-pattern>/liveroomlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfferListManager</display-name>
    <servlet-name>OfferListManager</servlet-name>
    <servlet-class>com.trade.app.servlet.OfferListManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfferListManager</servlet-name>
    <url-pattern>/liveroomofferlist</url-pattern>
  </servlet-mapping>
</web-app>